*, ::after, ::before {
    box-sizing: border-box;
}
.ajax-file-upload-statusbar {
    margin-top: 15px;
    padding: 20px;
    width: 100% !important;
    background: #ffffff;
    box-shadow: 0 0 5px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.ajax-file-upload-filename {
    height: auto;
    font-weight: 700;
}
.ajax-file-upload-filesize {
    width: 50px;
    height: auto;
    margin: 0 5px 5px 0px;
    display: inline-block;
    vertical-align:middle;
}
.ajax-file-upload-progress {
    margin: 10px 0;
    position: relative;
    color: #FFFFFF;
    background: #ddd;
    border-radius: 15px;
}
.ajax-file-upload-bar {
    background-color: #4CAF50;
    width: 0;
    height: 15px;
    color:#FFFFFF;
    border-radius: 15px;
}
.ajax-file-upload-percent {
    position: absolute;
    display: inline-block;
    top: 3px;
    left: 48%
}
.ajax-file-upload-red {
    background-color: #e4685d;
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 2.15384615;
    min-height: 30px;
    margin: 0;
    padding: 0 10px;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
}
.ajax-file-upload-green {
    background-color: #77b55a;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 2.15384615;
    min-height: 30px;
    margin: 0;
    padding: 0 10px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
}
.ajax-file-upload-error {
    display: block;
}
.file-upload-button {
    margin-right: 10px !important;
}
.ajax-file-upload {
    font-size: 16px;
    font-weight: bold;
    cursor:pointer;
    line-height: 20px;
    margin-right: 10px;
    display: inline-block;
    text-decoration: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 8px 16px;
    color: #fff;
    background: #2f8ab9;
    border: none;
    vertical-align: middle;
}
.ajax-file-upload:hover {
    background: #3396c9;
}

.ajax-upload-dragdrop {
    border: 2px dashed #2271b1;
    width: 100% !important;
    color: #DADCE3;
    text-align:left;
    vertical-align:middle;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto 0;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

.state-hover {
    border-color: #83b4d8;
}
.ajax-file-upload-container {
    margin:20px 0;
}
.add-tags > input {
    margin-right: 5px;
}
.add-tags > label {
    display: block;
    font-weight: 500;
    margin: 5px 0 3px;
}
/*.slidesearch-file-uploader {*/
/*    border: 4px dashed #b4b9be;*/
/*    width: 100% !important;*/
/*    color: #DADCE3;*/
/*    vertical-align:middle;*/
/*    padding: 20px;*/
/*    margin-top: 20px;*/
/*    text-align: center;*/
/*}*/
/*.slidesearch-file-uploader .drop-files {*/
/*    font-size: 20px;*/
/*    color: #a0a5aa;*/
/*    margin-bottom: 20px;*/
/*}*/
/*.slidesearch-file-uploader .file-input-wrap .file-input {*/
/*    display: none;*/
/*}*/
/*.slidesearch-file-uploader.is-dragover {*/
/*    border-color: #83b4d8;*/
/*}*/
/*.box__uploading,*/
/*.box__success,*/
/*.box__error {*/
/*    display: none;*/
/*}*/
/*.slidesearch-file-uploader.is-uploading .box__uploading,*/
/*.slidesearch-file-uploader.is-success .box__success,*/
/*.slidesearch-file-uploader.is-error .box__error {*/
/*    display: block;*/
/*}*/

/*.files-list .item {*/
/*    border: 1px solid #ddd;*/
/*    margin: 20px 0;*/
/*    padding: 20px;*/
/*    font-size: 14px;*/
/*}*/
/*.files-list .item .title {*/
/*    margin: 0 0 10px;*/
/*}*/
/*.progress {*/
/*    height: 20px;*/
/*    display: block;*/
/*    border: 1px solid #ddd;*/
/*}*/
/*.progress > span {*/
/*    width: 1%;*/
/*    display: block;*/
/*    height: 100%;*/
/*    background: green;*/
/*}*/