/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/* Slides Listing */
.slides-listing {}
.slides-listing .single-slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #FFFFFF;
}
.slides-listing .single-slide .slide-content-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.slides-listing .single-slide .slide-content-wrap .slide-icon {
    position: relative;
    margin-right: 20px;
    padding-right: 20px;
    font-size: 30px;
}
.slides-listing .single-slide .slide-content-wrap .slide-icon:after {
    content: "";
    position: absolute;
    top: -5px;
    right: 0;
    width: 1px;
    height: 40px;
    background-color: #eee;
}
.slides-listing .single-slide .slide-content-wrap .slide-info h4 {
    margin: 0 0 5px 0;
}
.slides-listing .single-slide .slide-content-wrap .slide-info .slide-meta {
    margin: 0;
    list-style-type: none;
}
.slides-listing .single-slide .slide-content-wrap .slide-info .slide-meta li {
    display: inline-block;
    margin-right: 20px;
}
.slides-listing .slide-actions ul {
    margin: 0;
    list-style-type: none;
}
.slides-listing .slide-actions ul li {
    display: inline-block;
}

/* Button Styling */
.button-delete {
    background-color: #cf4436 !important;
    border-color: #cf4436 !important;
    color: #fff !important;
}
.button-delete:hover {
    background-color: #ba3d31 !important;
    border-color: #ba3d31 !important;
}
.button-update {
    background-color: #27a29b !important;
    border-color: #27a29b !important;
    color: #fff !important;
}
.button-update:hover {
    background-color: #0e8982 !important;
    border-color: #0e8982 !important;
}

.tagsFieldWrap {
    display: none;
}
.showTags {
    display: block;
}
.ajax-file-upload-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
}
.ajax-file-upload-statusbar {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0 !important;
}

.ajax-file-upload-filename, .extrahtml, .ajax-file-upload-progress  {
    width: 100%;
}
.ajax-file-upload-progress, .ajax-file-upload-bar {
    height: 8px;
}
.ajax-file-upload-filename {
    margin-bottom: 15px;
}
.tagsinput {
    margin-bottom: 15px;
}

@media (min-width: 600px) {
    .ajax-file-upload-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .ajax-file-upload-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .ajax-file-upload-container {
        grid-template-columns: repeat(4, 1fr);
    }
}